header{


}
body{
background-color: green;
max-width: 960px;
text-align: center;
margin: auto;
}
.main-nav{
  float: right;
  font-size: 30px;
}
.main-nav li{
  display: inline-block;
  padding: 20px;
}
@media (min-width: 800px) {
  nav i.fa.fa-bars{
  display:none;
 }
}

@media (max-width: 800px) {
  .main-nav ul {
    display: none;
    padding: 1px;
    clear: both;
  }
}
